.img-fluid{
    max-height: 300px;
}

.alin{
    text-align: center;
}

.ali{
    text-align: center;
}


.bi-lightning-charge-fill{
    color: rgb(232, 232, 12);
    font-size: 60px;
}

.bi-wrench{
    color: blue;
    font-size: 60px;
}

.iconsize{
    font-size: 40px;
    
}

