.img-fluid{
    max-height: 300px;
}

.alin{
    text-align: center;
}

.ali{
    text-align: center;
}


.bi-lightning-charge-fill{
    color: rgb(233, 233, 18);
    font-size: 60px;
}

.bi-wrench{
    color: rgb(43, 43, 187);
    font-size: 60px;
}

.iconsize{
    font-size: 40px;
    
}

.fot{
    text-align: center;
}

.medal{
    max-height: 200px;
}

.medal-ali{
    text-align: center;
}

.bi-mortarboard-fill{
    font-size: 40px;
}

.my-5{
    
}